<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>
<form action="#" th:action="@{/book-update}" th:object="${book}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="id">
    <br/>
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name" required minlength="2" maxlength="100">
    <br/>
    <label for="author">author</label>
    <input type="text" th:field="*{author}" id="author" placeholder="author" required minlength="2" maxlength="100">
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>