<!doctype html>
<html lang="en" xmlns:sec="https://www.thymeLeaf.org/thymeLeaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:switch="${books}">
    <h2 th:case="null">No books found!</h2>
    <div th:case="*">
        <h2>Books</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.name}"></td>
                <td th:text="${book.author}"></td>
                <div sec:authorize="hasRole('ADMIN')">
                    <td><a th:href="@{book-update/{id}(id=${book.id})}">Edit</a></td>
                </div>
                <div sec:authorize="hasRole('ADMIN')">
                    <td><a th:href="@{book-delete/{id}(id=${book.id})}">Delete</a></td>
                </div>
                <div sec:authorize="hasRole('ADMIN')">
                    <td><a th:href="@{book-returned/{id}(id=${book.id})}">Returned</a></td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <p><a href="/book-create">Create book</a></p>
    </div>
</div>
</body>
</html>